<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>haudq.filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>haudq.Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>haudq.Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>admin.controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>admin.controller.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>admin.controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>admin.controller.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmUpdateUserController</servlet-name>
        <servlet-class>admin.controller.ConfirmUpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>admin.controller.CreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>haudq.Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDeviceController</servlet-name>
        <servlet-class>admin.controller.DeleteDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDeviceController</servlet-name>
        <servlet-class>admin.controller.CreateDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImageController</servlet-name>
        <servlet-class>admin.controller.GetImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDeviceController</servlet-name>
        <servlet-class>admin.controller.SearchDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateImgDeviceController</servlet-name>
        <servlet-class>admin.controller.UpdateImgDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsImgController</servlet-name>
        <servlet-class>admin.controller.DetailsImgController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailLocationController</servlet-name>
        <servlet-class>admin.controller.DetailLocationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeLocationController</servlet-name>
        <servlet-class>admin.controller.ChangeLocationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDeviceController</servlet-name>
        <servlet-class>admin.controller.UpdateDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmUpdateDeviceController</servlet-name>
        <servlet-class>admin.controller.ConfirmUpdateDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRoomController</servlet-name>
        <servlet-class>admin.controller.SearchRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateRoomController</servlet-name>
        <servlet-class>admin.controller.CreateRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoomController</servlet-name>
        <servlet-class>admin.controller.DeleteRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoomController</servlet-name>
        <servlet-class>admin.controller.UpdateRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectRoomToAddController</servlet-name>
        <servlet-class>admin.controller.SelectRoomToAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectUserToAddController</servlet-name>
        <servlet-class>admin.controller.SelectUserToAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectDeviceToAddController</servlet-name>
        <servlet-class>admin.controller.SelectDeviceToAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealDeleteRoomController</servlet-name>
        <servlet-class>admin.controller.RealDeleteRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RealDeleteDeviceController</servlet-name>
        <servlet-class>admin.controller.RealDeleteDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishAddController</servlet-name>
        <servlet-class>admin.controller.FinishAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDeviceInRoomUserController</servlet-name>
        <servlet-class>user.controller.GetDeviceInRoomUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>user.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDeviceUserController</servlet-name>
        <servlet-class>user.controller.SearchDeviceUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>user.controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryController</servlet-name>
        <servlet-class>user.controller.HistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryDeviceController</servlet-name>
        <servlet-class>admin.controller.HistoryDeviceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestController</servlet-name>
        <servlet-class>user.controller.RequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNotificationController</servlet-name>
        <servlet-class>user.controller.GetNotificationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDeviceToStaffController</servlet-name>
        <servlet-class>staff.controller.GetDeviceToStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffController</servlet-name>
        <servlet-class>staff.controller.StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryStaffController</servlet-name>
        <servlet-class>staff.controller.HistoryStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailLocationStaffController</servlet-name>
        <servlet-class>staff.controller.DetailLocationStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeLocationStaffController</servlet-name>
        <servlet-class>staff.controller.ChangeLocationStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDeviceStaffController</servlet-name>
        <servlet-class>staff.controller.SearchDeviceStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationStaffController</servlet-name>
        <servlet-class>staff.controller.NotificationStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiveRequestController</servlet-name>
        <servlet-class>staff.controller.ReceiveRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyJobController</servlet-name>
        <servlet-class>staff.controller.MyJobController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishRepairController</servlet-name>
        <servlet-class>staff.controller.FinishRepairController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotifyAdminController</servlet-name>
        <servlet-class>admin.controller.NotifyAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceStatisticalController</servlet-name>
        <servlet-class>admin.controller.DeviceStatisticalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelRepairController</servlet-name>
        <servlet-class>staff.controller.CancelRepairController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNotifyController</servlet-name>
        <servlet-class>user.controller.GetNotifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffGetNotifyController</servlet-name>
        <servlet-class>staff.controller.StaffGetNotifyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/SearchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmUpdateUserController</servlet-name>
        <url-pattern>/ConfirmUpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/CreateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDeviceController</servlet-name>
        <url-pattern>/DeleteDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDeviceController</servlet-name>
        <url-pattern>/CreateDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImageController</servlet-name>
        <url-pattern>/GetImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDeviceController</servlet-name>
        <url-pattern>/SearchDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateImgDeviceController</servlet-name>
        <url-pattern>/UpdateImgDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsImgController</servlet-name>
        <url-pattern>/DetailsImgController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailLocationController</servlet-name>
        <url-pattern>/DetailLocationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeLocationController</servlet-name>
        <url-pattern>/ChangeLocationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDeviceController</servlet-name>
        <url-pattern>/UpdateDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmUpdateDeviceController</servlet-name>
        <url-pattern>/ConfirmUpdateDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRoomController</servlet-name>
        <url-pattern>/SearchRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateRoomController</servlet-name>
        <url-pattern>/CreateRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoomController</servlet-name>
        <url-pattern>/DeleteRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoomController</servlet-name>
        <url-pattern>/UpdateRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectRoomToAddController</servlet-name>
        <url-pattern>/SelectRoomToAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectUserToAddController</servlet-name>
        <url-pattern>/SelectUserToAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectDeviceToAddController</servlet-name>
        <url-pattern>/SelectDeviceToAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealDeleteRoomController</servlet-name>
        <url-pattern>/RealDeleteRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RealDeleteDeviceController</servlet-name>
        <url-pattern>/RealDeleteDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishAddController</servlet-name>
        <url-pattern>/FinishAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeviceInRoomUserController</servlet-name>
        <url-pattern>/GetDeviceInRoomUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDeviceUserController</servlet-name>
        <url-pattern>/SearchDeviceUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryController</servlet-name>
        <url-pattern>/HistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryDeviceController</servlet-name>
        <url-pattern>/HistoryDeviceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestController</servlet-name>
        <url-pattern>/RequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNotificationController</servlet-name>
        <url-pattern>/GetNotificationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDeviceToStaffController</servlet-name>
        <url-pattern>/GetDeviceToStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffController</servlet-name>
        <url-pattern>/StaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryStaffController</servlet-name>
        <url-pattern>/HistoryStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailLocationStaffController</servlet-name>
        <url-pattern>/DetailLocationStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeLocationStaffController</servlet-name>
        <url-pattern>/ChangeLocationStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDeviceStaffController</servlet-name>
        <url-pattern>/SearchDeviceStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationStaffController</servlet-name>
        <url-pattern>/NotificationStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiveRequestController</servlet-name>
        <url-pattern>/ReceiveRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyJobController</servlet-name>
        <url-pattern>/MyJobController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishRepairController</servlet-name>
        <url-pattern>/FinishRepairController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotifyAdminController</servlet-name>
        <url-pattern>/NotifyAdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceStatisticalController</servlet-name>
        <url-pattern>/DeviceStatisticalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelRepairController</servlet-name>
        <url-pattern>/CancelRepairController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNotifyController</servlet-name>
        <url-pattern>/GetNotifyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffGetNotifyController</servlet-name>
        <url-pattern>/StaffGetNotifyController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
